.login-wrapper {
  width: 100%;
  display: flex;
  overflow: hidden;
}

.login-form {
  padding: 0 24px;
  width: 20%;
}

.divider {
  margin: 5px;
}

.image-wrapper {
  width: 80%;
  overflow: hidden;
}

// @media mq("mobile") {
//   .login-wrapper {
//   }
// }
