<nav class="sdds-nav">
  <div class="sdds-nav__left">
    <button (click)="openMobileMenu()" class="sdds-nav__mob-menu-btn">
      <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
          <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M3.97 6.998a1 1 0 0 1 1-1h22.05a1 1 0 0 1 0 2H4.97a1 1 0 0 1-1-1ZM3.97 15.982a1 1 0 0 1 1-1h22.05a1 1 0 0 1 0 2H4.97a1 1 0 0 1-1-1ZM3.97 24.966a1 1 0 0 1 1-1h22.05a1 1 0 0 1 0 2H4.97a1 1 0 0 1-1-1Z"
          fill="currentColor"
          />
      </svg>
  </button>
    <div [routerLink]="'/'" class="sdds-nav__app-name">First trucks</div>
  </div>
  <div class="sdds-nav__right">
    <a class="sdds-nav__item sdds-nav__app-logo" href="#"></a>
  </div>
</nav>
